body {
  background-color: black;
}

h1 {
  color: white;
  /*margin: 0 auto;*/
  text-align: center;
}

#game-container {
  border: 2px white solid;
  text-align: center;
  display: flex;
}

#left-panel, #right-panel {
  width: 300px;
  height: 500px;
  background-color: white;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  border: 1px black solid;
  display: flex;
  flex-direction: row;
}

#climber-1, #climber-2 {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: red;
  position: relative;
  z-index: 999;
}

.hazard {
  /* Probably going to have to put the falling animation here? I don't really know. */
  display: inline-block;
  z-index: 4;
  position: absolute;
}
