body {
  background-color: black;
}

h1 {
  color: white;
  /*margin: 0 auto;*/
  text-align: center;
  z-index: 2;
}

#game-container {
  /*border: 2px white solid;*/
  text-align: center;
  /*display: flex;*/
}

#left-panel, #right-panel {
  width: 300px;
  height: 500px;
  background-color: white;
  display: inline-block;
  text-align: center;
  margin: 0;
  border: 1px black solid;
  /*display: flex;
  flex-direction: row;*/
}

#score-box {
  color: white;
  max-width: 48%;
  height: 50px;
  border: 1px white solid; margin: 0 auto;
}

#current-score-box {
  color: white;
  max-width: 48%;
  max-height: 100%;
  border: 1px white solid;
  margin: 0 auto;
  display: flex;
  flex-grow:
}

#high-score-box {
  color: white;
  max-width: 48%;
  max-height: 100%;
  border: 1px white solid; margin: 0 auto;
  display: flex;
}

#climber-1, #climber-2 {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: red;
  position: relative;
  /*z-index: 999;*/
}

.hazard {
  height: 20px;
  width: 20px;
  background-color: black;
  display: inline-block;
  /*z-index: 4;*/
  position: absolute;
  animation-name: falling-hazard;
  transition-timing-function: linear;
  animation-iteration-count: infinite;
  /*z-index: -5;*/
}

@keyframes falling-hazard {
  from {
    top: 0px;
  }
  to {
    top: 1000px;
  }
}
